[run]
source = .
omit =
    test/*
    .ebextensions/*
    .garbage/*
    .github/*
    .kilocode/*
    .specify/*
    keys/*
    specs/*
    node_modules/*
    venv/*
    .venv/*
    env/*
    .env/*
    app/web/brokers/*
    

[report]
show_missing = true
skip_covered = true
